---
layout: layouts/home.njk
---

<section class="section">
  <div class="container">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="{{ '/img/octobar-icon-light.png' | url }}" alt="OctoBar logo image">
        </figure>
      </div>
      <div class="media-content">
        <h1 class="title">Your 3d-prints are only one click away with
          <strong style="font-weight: bold">OctoBar</strong>
        </h1>
        <h2 class="subtitle">The perfect OctoPrint companion for macOS users.</h2>

        <div class="columns">
            <div class="column">
                <div class="content">
                    <p class="is-size-4 has-text-weight-bold">
                        ⏳ OctoBar is a work in progress.
                        <br><a href="https://docs.google.com/forms/d/e/1FAIpQLSfxtuVWq87_tqAVLiIgoMo0kpxgauCCDYsbpgPaGukIC1LfpQ/viewform?usp=sf_link" rel="noopener noreferrer nofollow">Sign up here</a>
            to be notified about OctoBar updates.
                    </p>
                    <h3>(Already implemented) Features:</h3>
                    <p>
                        <ul>
                            <li>View status of a running print job</li>
                            <li>Pause/Stop print jobs</li>
                            <li>Control tool and bed temperatures</li>
                            <li>View webcam stream in the status bar menu</li>
                            <li>Picture-in-Picture webcam stream</li>
                            <li>Receive notifications on print events (Print started/stopped/paused/resumed)</li>
                        </ul>
                    </p>
                    <h3>You have an idea for a new feature?</h3>
                    <p>
                        Use the <a href="https://docs.google.com/forms/d/e/1FAIpQLSfxtuVWq87_tqAVLiIgoMo0kpxgauCCDYsbpgPaGukIC1LfpQ/viewform?usp=sf_link" rel="noopener noreferrer nofollow">Sign up form</a> to submit your thoughts.
                    </p>
                </div>
            </div>
            <div class="column">
                <figure>
                    <img src="{{ '/img/octobar/octobar-preferences.png' | url }}" alt="OctoBar preferences window">
                </figure>
            </div>
        </div>
        
      </div>
    </div>
  </div>
</section>
