---
layout: layouts/home.njk
---

<section class="section">
  <div class="container">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="{{ '/img/octobar-icon-light.png' | url }}" alt="OctoBar logo image">
        </figure>
      </div>
      <div class="media-content">
        <h1 class="title">Your 3d-prints are only one click away with
          <strong style="font-weight: bold">OctoBar</strong>
        </h1>
        <h2 class="subtitle">The perfect OctoPrint companion for macOS users.</h2>
        <p class="is-size-4 has-text-weight-bold">
          ⏳ OctoBar is work in progress.
          <br>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfxtuVWq87_tqAVLiIgoMo0kpxgauCCDYsbpgPaGukIC1LfpQ/viewform?usp=sf_link" rel="noopener noreferrer nofollow">Sign up here</a>
          to be notified about OctoBar updates.
        </p>
      </div>
    </div>
    <div class="columns mt-5">
      <div class="column">
        <div class="content">
          <h3>Features:</h3>
          <p>
            <ul>
              <li>View status of a running print job</li>
              <li>Pause/Stop print jobs</li>
              <li>Control tool and bed temperatures</li>
              <li>View webcam stream in the status bar menu</li>
              <li>Picture-in-Picture webcam stream</li>
              <li>Receive notifications on print events (Print started/stopped/paused/resumed)</li>
            </ul>
          </p>
          <h3>You have an idea for a new feature?</h3>
          <p>
            Use the
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfxtuVWq87_tqAVLiIgoMo0kpxgauCCDYsbpgPaGukIC1LfpQ/viewform?usp=sf_link" rel="noopener noreferrer nofollow">Sign up form</a>
            to submit your thoughts.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column">
            <figure>
              <img src="{{ '/img/octobar/octobar-job.png' | url }}" alt="OctoBar control window">
            </figure>
            <h3 class="has-text-centered">Control OctoPrint from your status bar</h3>
          </div>
          <div class="column">
            <figure>
              <img src="{{ '/img/octobar/octobar-control.png' | url }}" alt="OctoBar control window">
            </figure>
            <h3 class="has-text-centered">Control printer movement and issue custom commands</h3>
            <figure>
              <img src="{{ '/img/octobar/octobar-webcam.png' | url }}" alt="OctoBar webcam window">
            </figure>
            <h3 class="has-text-centered">Always keep an eye on your prints with the webcam viewer</h3>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <figure>
              <img src="{{ '/img/octobar/octobar-temperatures.png' | url }}" alt="OctoBar control window">
            </figure>
            <h3 class="has-text-centered">Set target bed and tool temperatures manually or from presets</h3>
          </div>
          <div class="column">
            <figure>
              <img src="{{ '/img/octobar/octobar-preferences.png' | url }}" alt="OctoBar preferences window">
            </figure>
            <h3 class="has-text-centered">Configure notifications and more</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>